certifi
chardet
click
cycler
Flask
gunicorn
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpld3
nltk
numpy
oauthlib
pandas
Pillow
pyparsing
PySocks
python-dateutil
pytz
regex
requests
requests-oauthlib
six
textblob
tqdm
tweepy
urllib3
Werkzeug
wordcloud
